In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90])

In [3]:
s1

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [4]:
print(s1.values)
print(s1.index)
print(s1.shape)

[10 20 30 40 50 60 70 80 90]
RangeIndex(start=0, stop=9, step=1)
(9,)

In [5]:
priceList = [100, 200, 300, 400]
p1        = pd.Series(priceList, index=['A', 'B', 'C', 'D'])
print(p1)

A    100
B    200
C    300
D    400
dtype: int64

In [6]:
p1 > 200

A    False
B    False
C     True
D     True
dtype: bool

In [7]:
pl1 = p1[p1 >200]

In [8]:
pl1

C    300
D    400
dtype: int64

In [9]:
pl2 = p1[(p1 >= 100) & (p1 <= 300)]
pl2

A    100
B    200
C    300
dtype: int64

Dataframes

In [10]:
df = pd.read_csv('D:\workflow\dt_learn_data_science\edureka\works_notebooks\Class_Work_1_6\Module 6 - Class Work\data.csv')

In [11]:
df

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
7        450  08-08-2022    NaN       134     253.3
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
17        45  18-08-2022   90.0       112       NaN
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
20        60  21-08-2022  108.0       131     364.2
21        45  22-08-2022  100.0       119     282.0
22        60  23-08-2022  130.0       101     300.0
23        45  24-08-2022  105.0       132     246.0
24        60  25-08-2022  102.0       126     334.5
25        60  26-08-2022  100.0       120     250.0
26        60  27-08-2022   92.0       118     241.0
27        60         NaN  103.0       132       NaN
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3
30        60  30-08-2022  102.0       129     380.3

In [12]:
df.head()

   Duration        Date  Pulse  Maxpulse  Calories
0        60  01-08-2022  110.0       130     409.1
1        60  02-08-2022  117.0       145     479.0
2        60  03-08-2022  103.0       135     340.0
3        45  04-08-2022  109.0       175     282.4
4        45  05-08-2022  117.0       148     406.0

In [13]:
df.tail()

    Duration        Date  Pulse  Maxpulse  Calories
26        60  27-08-2022   92.0       118     241.0
27        60         NaN  103.0       132       NaN
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3
30        60  30-08-2022  102.0       129     380.3

In [14]:
print(df.loc[0])

Duration            60
Date        01-08-2022
Pulse            110.0
Maxpulse           130
Calories         409.1
Name: 0, dtype: object

In [15]:
df.loc[[0,1,2,3,4]]

   Duration        Date  Pulse  Maxpulse  Calories
0        60  01-08-2022  110.0       130     409.1
1        60  02-08-2022  117.0       145     479.0
2        60  03-08-2022  103.0       135     340.0
3        45  04-08-2022  109.0       175     282.4
4        45  05-08-2022  117.0       148     406.0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  31 non-null     int64
 1   Date      30 non-null     object
 2   Pulse     30 non-null     float64
 3   Maxpulse  31 non-null     int64
 4   Calories  29 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.3+ KB

In [17]:
df = pd.read_csv('D:\workflow\dt_learn_data_science\edureka\works_notebooks\Class_Work_1_6\Module 6 - Class Work\data.csv')
df.dropna(inplace=True)
df

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
20        60  21-08-2022  108.0       131     364.2
21        45  22-08-2022  100.0       119     282.0
22        60  23-08-2022  130.0       101     300.0
23        45  24-08-2022  105.0       132     246.0
24        60  25-08-2022  102.0       126     334.5
25        60  26-08-2022  100.0       120     250.0
26        60  27-08-2022   92.0       118     241.0
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3
30        60  30-08-2022  102.0       129     380.3

In [19]:
df = pd.read_csv('D:\workflow\dt_learn_data_science\edureka\works_notebooks\Class_Work_1_6\Module 6 - Class Work\data.csv')
df.fillna(130, inplace=True)
df

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
7        450  08-08-2022  130.0       134     253.3
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
17        45  18-08-2022   90.0       112     130.0
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
20        60  21-08-2022  108.0       131     364.2
21        45  22-08-2022  100.0       119     282.0
22        60  23-08-2022  130.0       101     300.0
23        45  24-08-2022  105.0       132     246.0
24        60  25-08-2022  102.0       126     334.5
25        60  26-08-2022  100.0       120     250.0
26        60  27-08-2022   92.0       118     241.0
27        60         130  103.0       132     130.0
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3
30        60  30-08-2022  102.0       129     380.3

In [20]:
df = pd.read_csv('D:\workflow\dt_learn_data_science\edureka\works_notebooks\Class_Work_1_6\Module 6 - Class Work\data.csv')
df["Calories"].fillna(130, inplace=True)
df["Pulse"].fillna(110, inplace=True)
df

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
7        450  08-08-2022  110.0       134     253.3
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
17        45  18-08-2022   90.0       112     130.0
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
20        60  21-08-2022  108.0       131     364.2
21        45  22-08-2022  100.0       119     282.0
22        60  23-08-2022  130.0       101     300.0
23        45  24-08-2022  105.0       132     246.0
24        60  25-08-2022  102.0       126     334.5
25        60  26-08-2022  100.0       120     250.0
26        60  27-08-2022   92.0       118     241.0
27        60         NaN  103.0       132     130.0
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3
30        60  30-08-2022  102.0       129     380.3

In [22]:
df = pd.read_csv('D:\workflow\dt_learn_data_science\edureka\works_notebooks\Class_Work_1_6\Module 6 - Class Work\data.csv')
x = df["Calories"].mean().round(1)
print(x)
df["Calories"].fillna(x, inplace=True)
y = df["Pulse"].mean().round(1)
print(y)
df["Pulse"].fillna(y, inplace=True)

df

311.3
103.9

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
7        450  08-08-2022  103.9       134     253.3
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
17        45  18-08-2022   90.0       112     311.3
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
20        60  21-08-2022  108.0       131     364.2
21        45  22-08-2022  100.0       119     282.0
22        60  23-08-2022  130.0       101     300.0
23        45  24-08-2022  105.0       132     246.0
24        60  25-08-2022  102.0       126     334.5
25        60  26-08-2022  100.0       120     250.0
26        60  27-08-2022   92.0       118     241.0
27        60         NaN  103.0       132     311.3
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3
30        60  30-08-2022  102.0       129     380.3

In [25]:
df["Total"] = df["Pulse"] + df["Maxpulse"] + df["Calories"]
df

    Duration        Date  Pulse  Maxpulse  Calories  Total
0         60  01-08-2022  110.0       130     409.1  649.1
1         60  02-08-2022  117.0       145     479.0  741.0
2         60  03-08-2022  103.0       135     340.0  578.0
3         45  04-08-2022  109.0       175     282.4  566.4
4         45  05-08-2022  117.0       148     406.0  671.0
5         60  06-08-2022  102.0       127     300.0  529.0
6         60  07-08-2022  110.0       136     374.0  620.0
7        450  08-08-2022  103.9       134     253.3  491.2
8         30  09-08-2022  109.0       133     195.1  437.1
9         60  10-08-2022   98.0       124     269.0  491.0
10        60  11-08-2022  103.0       147     329.3  579.3
11        60  12-08-2022  100.0       120     250.7  470.7
12        60  13-08-2022  106.0       128     345.3  579.3
13        60  14-08-2022  104.0       132     379.3  615.3
14        60  15-08-2022   98.0       123     275.0  496.0
15        60  16-08-2022   98.0       120     215.2  433.2
16        60  17-08-2022  100.0       120     300.0  520.0
17        45  18-08-2022   90.0       112     311.3  513.3
18        60  19-08-2022  103.0       123     323.0  549.0
19        45  20-08-2022   97.0       125     243.0  465.0
20        60  21-08-2022  108.0       131     364.2  603.2
21        45  22-08-2022  100.0       119     282.0  501.0
22        60  23-08-2022  130.0       101     300.0  531.0
23        45  24-08-2022  105.0       132     246.0  483.0
24        60  25-08-2022  102.0       126     334.5  562.5
25        60  26-08-2022  100.0       120     250.0  470.0
26        60  27-08-2022   92.0       118     241.0  451.0
27        60         NaN  103.0       132     311.3  546.3
28        60  29-08-2022  100.0       132     280.0  512.0
29        60  30-08-2022  102.0       129     380.3  611.3
30        60  30-08-2022  102.0       129     380.3  611.3

In [26]:
import datetime
now = datetime.datetime.now()
date_time = now.strftime("%Y-%m-%d")
print(date_time)

2023-02-20

In [28]:
df.at[27, 'Date'] = date_time
df

    Duration        Date  Pulse  Maxpulse  Calories  Total
0         60  01-08-2022  110.0       130     409.1  649.1
1         60  02-08-2022  117.0       145     479.0  741.0
2         60  03-08-2022  103.0       135     340.0  578.0
3         45  04-08-2022  109.0       175     282.4  566.4
4         45  05-08-2022  117.0       148     406.0  671.0
5         60  06-08-2022  102.0       127     300.0  529.0
6         60  07-08-2022  110.0       136     374.0  620.0
7        450  08-08-2022  103.9       134     253.3  491.2
8         30  09-08-2022  109.0       133     195.1  437.1
9         60  10-08-2022   98.0       124     269.0  491.0
10        60  11-08-2022  103.0       147     329.3  579.3
11        60  12-08-2022  100.0       120     250.7  470.7
12        60  13-08-2022  106.0       128     345.3  579.3
13        60  14-08-2022  104.0       132     379.3  615.3
14        60  15-08-2022   98.0       123     275.0  496.0
15        60  16-08-2022   98.0       120     215.2  433.2
16        60  17-08-2022  100.0       120     300.0  520.0
17        45  18-08-2022   90.0       112     311.3  513.3
18        60  19-08-2022  103.0       123     323.0  549.0
19        45  20-08-2022   97.0       125     243.0  465.0
20        60  21-08-2022  108.0       131     364.2  603.2
21        45  22-08-2022  100.0       119     282.0  501.0
22        60  23-08-2022  130.0       101     300.0  531.0
23        45  24-08-2022  105.0       132     246.0  483.0
24        60  25-08-2022  102.0       126     334.5  562.5
25        60  26-08-2022  100.0       120     250.0  470.0
26        60  27-08-2022   92.0       118     241.0  451.0
27        60  2023-02-20  103.0       132     311.3  546.3
28        60  29-08-2022  100.0       132     280.0  512.0
29        60  30-08-2022  102.0       129     380.3  611.3
30        60  30-08-2022  102.0       129     380.3  611.3

In [31]:
df_cal = df[df["Calories"] >= 350]
df_cal

    Duration        Date  Pulse  Maxpulse  Calories  Total
0         60  01-08-2022  110.0       130     409.1  649.1
1         60  02-08-2022  117.0       145     479.0  741.0
4         45  05-08-2022  117.0       148     406.0  671.0
6         60  07-08-2022  110.0       136     374.0  620.0
13        60  14-08-2022  104.0       132     379.3  615.3
20        60  21-08-2022  108.0       131     364.2  603.2
29        60  30-08-2022  102.0       129     380.3  611.3
30        60  30-08-2022  102.0       129     380.3  611.3

In [32]:
df1 = df.copy()
df1

    Duration        Date  Pulse  Maxpulse  Calories  Total
0         60  01-08-2022  110.0       130     409.1  649.1
1         60  02-08-2022  117.0       145     479.0  741.0
2         60  03-08-2022  103.0       135     340.0  578.0
3         45  04-08-2022  109.0       175     282.4  566.4
4         45  05-08-2022  117.0       148     406.0  671.0
5         60  06-08-2022  102.0       127     300.0  529.0
6         60  07-08-2022  110.0       136     374.0  620.0
7        450  08-08-2022  103.9       134     253.3  491.2
8         30  09-08-2022  109.0       133     195.1  437.1
9         60  10-08-2022   98.0       124     269.0  491.0
10        60  11-08-2022  103.0       147     329.3  579.3
11        60  12-08-2022  100.0       120     250.7  470.7
12        60  13-08-2022  106.0       128     345.3  579.3
13        60  14-08-2022  104.0       132     379.3  615.3
14        60  15-08-2022   98.0       123     275.0  496.0
15        60  16-08-2022   98.0       120     215.2  433.2
16        60  17-08-2022  100.0       120     300.0  520.0
17        45  18-08-2022   90.0       112     311.3  513.3
18        60  19-08-2022  103.0       123     323.0  549.0
19        45  20-08-2022   97.0       125     243.0  465.0
20        60  21-08-2022  108.0       131     364.2  603.2
21        45  22-08-2022  100.0       119     282.0  501.0
22        60  23-08-2022  130.0       101     300.0  531.0
23        45  24-08-2022  105.0       132     246.0  483.0
24        60  25-08-2022  102.0       126     334.5  562.5
25        60  26-08-2022  100.0       120     250.0  470.0
26        60  27-08-2022   92.0       118     241.0  451.0
27        60  2023-02-20  103.0       132     311.3  546.3
28        60  29-08-2022  100.0       132     280.0  512.0
29        60  30-08-2022  102.0       129     380.3  611.3
30        60  30-08-2022  102.0       129     380.3  611.3

In [36]:
dur_group = df1.groupby('Duration').groups
dur_group

{30: [8], 45: [3, 4, 17, 19, 21, 23], 60: [0, 1, 2, 5, 6, 9, 10, 11, 12, 13, 14, 15, 16, 18, 20, 22, 24, 25, 26, 27, 28, 29, 30], 450: [7]}

In [38]:
df1.groupby('Duration')['Duration'].count()

Duration
30      1
45      6
60     23
450     1
Name: Duration, dtype: int64