In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\knsab\appdata\local\programs\python\python310\lib\site-packages (1.4.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\knsab\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\knsab\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\knsab\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\knsab\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
# this package is needed to read excel file
! pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\knsab\appdata\local\programs\python\python310\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\knsab\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
# this package is needed to read xml file
! pip install lxml

Requirement already satisfied: lxml in c:\users\knsab\appdata\local\programs\python\python310\lib\site-packages (4.9.1)

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
''' 
Panda Data Structures
1. Series - 1D
2. DataFrame - 2D (excel, table...)
3. (Pan)el (Da)ta (PanDa) - 3D (was not a gr8 hit so decomissioned)
'''

' \nPanda Data Structures\n1. Series - 1D\n2. DataFrame - 2D (excel, table...)\n3. Panel Data (PanDa) - 3D (was not a gr8 hit so decomissioned)\n'

### Series

In [1]:
# Series - A Pandas Series is like a column in a table
# Labels
# If nothing else is specified, the values are labeled with their index number. 
# First value has index 0, second value has index 1 etc.
# This label can be used to access a specified value.

import pandas as pd
import numpy as np

s1 = pd.Series([10,20,30,40])
print(s1)

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
print(s1.values[1])

20

In [4]:
print(s1.index)

RangeIndex(start=0, stop=4, step=1)

In [5]:
print(s1.size)

4

In [6]:
print(s1.shape)

(4,)

In [7]:
import numpy as np
import pandas as pd

pricelist = [100,200,300,400]
pl= pd.Series(pricelist, index=['Pen', 'Shirt','Book','Mouse'])
print(pl)

Pen      100
Shirt    200
Book     300
Mouse    400
dtype: int64

In [8]:
pl > 200

Pen      False
Shirt    False
Book      True
Mouse     True
dtype: bool

In [9]:
pl1 = pl[pl > 200]

In [10]:
pl1

Book     300
Mouse    400
dtype: int64

In [11]:
pl

Pen      100
Shirt    200
Book     300
Mouse    400
dtype: int64

In [12]:
(pl >= 100) & (pl <= 300)

Pen       True
Shirt     True
Book      True
Mouse    False
dtype: bool

In [13]:
pl2 = pl[(pl >= 100) & (pl <= 300)]
pl2

Pen      100
Shirt    200
Book     300
dtype: int64

In [14]:
# appending values
pl['Razor'] = 50
pl['Sharpner'] = 75
pl

Pen         100
Shirt       200
Book        300
Mouse       400
Razor        50
Sharpner     75
dtype: int64

### DataFrames

In [7]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
7        450  08-08-2022    NaN       134     253.3
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
17        45  18-08-2022   90.0       112       NaN
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
20        60  21-08-2022  108.0       131     364.2
21        45  22-08-2022  100.0       119     282.0
22        60  23-08-2022  130.0       101     300.0
23        45  24-08-2022  105.0       132     246.0
24        60  25-08-2022  102.0       126     334.5
25        60  26-08-2022  100.0       120     250.0
26        60  27-08-2022   92.0       118     241.0
27        60         NaN  103.0       132       NaN
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3
30        60  30-08-2022  102.0       129     380.3

In [8]:
df.head()

   Duration        Date  Pulse  Maxpulse  Calories
0        60  01-08-2022  110.0       130     409.1
1        60  02-08-2022  117.0       145     479.0
2        60  03-08-2022  103.0       135     340.0
3        45  04-08-2022  109.0       175     282.4
4        45  05-08-2022  117.0       148     406.0

In [9]:
df.tail()

    Duration        Date  Pulse  Maxpulse  Calories
26        60  27-08-2022   92.0       118     241.0
27        60         NaN  103.0       132       NaN
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3
30        60  30-08-2022  102.0       129     380.3

In [10]:
#use loc and the the row index to see the values of single row:
print(df.loc[0])

Duration            60
Date        01-08-2022
Pulse            110.0
Maxpulse           130
Calories         409.1
Name: 0, dtype: object

In [11]:
df.head()

   Duration        Date  Pulse  Maxpulse  Calories
0        60  01-08-2022  110.0       130     409.1
1        60  02-08-2022  117.0       145     479.0
2        60  03-08-2022  103.0       135     340.0
3        45  04-08-2022  109.0       175     282.4
4        45  05-08-2022  117.0       148     406.0

In [12]:
#use a list of indexes:
df.loc[[0, 2, 4]]

   Duration        Date  Pulse  Maxpulse  Calories
0        60  01-08-2022  110.0       130     409.1
2        60  03-08-2022  103.0       135     340.0
4        45  05-08-2022  117.0       148     406.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  31 non-null     int64
 1   Date      30 non-null     object
 2   Pulse     30 non-null     float64
 3   Maxpulse  31 non-null     int64
 4   Calories  29 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.3+ KB

In [14]:
df['Date'].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27     True
28    False
29    False
30    False
Name: Date, dtype: bool

In [15]:
df.isnull()

    Duration   Date  Pulse  Maxpulse  Calories
0      False  False  False     False     False
1      False  False  False     False     False
2      False  False  False     False     False
3      False  False  False     False     False
4      False  False  False     False     False
5      False  False  False     False     False
6      False  False  False     False     False
7      False  False   True     False     False
8      False  False  False     False     False
9      False  False  False     False     False
10     False  False  False     False     False
11     False  False  False     False     False
12     False  False  False     False     False
13     False  False  False     False     False
14     False  False  False     False     False
15     False  False  False     False     False
16     False  False  False     False     False
17     False  False  False     False      True
18     False  False  False     False     False
19     False  False  False     False     False
20     False  False  False     False     False
21     False  False  False     False     False
22     False  False  False     False     False
23     False  False  False     False     False
24     False  False  False     False     False
25     False  False  False     False     False
26     False  False  False     False     False
27     False   True  False     False      True
28     False  False  False     False     False
29     False  False  False     False     False
30     False  False  False     False     False

In [22]:
'''
Data Cleaning
Data cleaning means fixing bad data in your data set.

Bad data could be:

Empty cells
Data in wrong format
Wrong data
Duplicates
'''

'\nData Cleaning\nData cleaning means fixing bad data in your data set.\n\nBad data could be:\n\nEmpty cells\nData in wrong format\nWrong data\nDuplicates\n'

In [23]:
### Remove Rows having blanks

In [24]:
import pandas as pd
df = pd.read_csv('data.csv')
df

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
7        450  08-08-2022    NaN       134     253.3
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
17        45  18-08-2022   90.0       112       NaN
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
20        60  21-08-2022  108.0       131     364.2
21        45  22-08-2022  100.0       119     282.0
22        60  23-08-2022  130.0       101     300.0
23        45  24-08-2022  105.0       132     246.0
24        60  25-08-2022  102.0       126     334.5
25        60  26-08-2022  100.0       120     250.0
26        60  27-08-2022   92.0       118     241.0
27        60         NaN  103.0       132       NaN
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3
30        60  30-08-2022  102.0       129     380.3

In [25]:
df_new = df.dropna()
df_new

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
20        60  21-08-2022  108.0       131     364.2
21        45  22-08-2022  100.0       119     282.0
22        60  23-08-2022  130.0       101     300.0
23        45  24-08-2022  105.0       132     246.0
24        60  25-08-2022  102.0       126     334.5
25        60  26-08-2022  100.0       120     250.0
26        60  27-08-2022   92.0       118     241.0
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3
30        60  30-08-2022  102.0       129     380.3

In [26]:
# If you need to change the original dataframe

In [27]:
import pandas as pd
df = pd.read_csv('data.csv')
df.dropna(inplace = True)
df

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
20        60  21-08-2022  108.0       131     364.2
21        45  22-08-2022  100.0       119     282.0
22        60  23-08-2022  130.0       101     300.0
23        45  24-08-2022  105.0       132     246.0
24        60  25-08-2022  102.0       126     334.5
25        60  26-08-2022  100.0       120     250.0
26        60  27-08-2022   92.0       118     241.0
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3
30        60  30-08-2022  102.0       129     380.3

In [28]:
## Replacing Empty Values

In [29]:
import pandas as pd
df = pd.read_csv('data.csv')
df.fillna(130, inplace = True)
df

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
7        450  08-08-2022  130.0       134     253.3
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
17        45  18-08-2022   90.0       112     130.0
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
20        60  21-08-2022  108.0       131     364.2
21        45  22-08-2022  100.0       119     282.0
22        60  23-08-2022  130.0       101     300.0
23        45  24-08-2022  105.0       132     246.0
24        60  25-08-2022  102.0       126     334.5
25        60  26-08-2022  100.0       120     250.0
26        60  27-08-2022   92.0       118     241.0
27        60         130  103.0       132     130.0
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3
30        60  30-08-2022  102.0       129     380.3

In [16]:
import pandas as pd
df = pd.read_csv('data.csv')
df["Calories"].fillna(130.1, inplace = True)
df["Pulse"].fillna(110.1, inplace = True)
df

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
7        450  08-08-2022  110.1       134     253.3
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
17        45  18-08-2022   90.0       112     130.1
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
20        60  21-08-2022  108.0       131     364.2
21        45  22-08-2022  100.0       119     282.0
22        60  23-08-2022  130.0       101     300.0
23        45  24-08-2022  105.0       132     246.0
24        60  25-08-2022  102.0       126     334.5
25        60  26-08-2022  100.0       120     250.0
26        60  27-08-2022   92.0       118     241.0
27        60         NaN  103.0       132     130.1
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3
30        60  30-08-2022  102.0       129     380.3

In [31]:
# Inserting the mean values instead of hard coded value...

In [18]:
import pandas as pd

df = pd.read_csv('data.csv')
x = df["Calories"].mean().round(1)
print(x)
df["Calories"].fillna(x, inplace = True)
#
y = df["Pulse"].mean().round(1)
print(y)
df["Pulse"].fillna(y, inplace = True)
df

311.3
103.9

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
7        450  08-08-2022  103.9       134     253.3
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
17        45  18-08-2022   90.0       112     311.3
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
20        60  21-08-2022  108.0       131     364.2
21        45  22-08-2022  100.0       119     282.0
22        60  23-08-2022  130.0       101     300.0
23        45  24-08-2022  105.0       132     246.0
24        60  25-08-2022  102.0       126     334.5
25        60  26-08-2022  100.0       120     250.0
26        60  27-08-2022   92.0       118     241.0
27        60         NaN  103.0       132     311.3
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3
30        60  30-08-2022  102.0       129     380.3

In [33]:
## Convert Into a Correct Format

In [19]:
import pandas as pd
df = pd.read_csv('data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  31 non-null     int64
 1   Date      30 non-null     object
 2   Pulse     30 non-null     float64
 3   Maxpulse  31 non-null     int64
 4   Calories  29 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.3+ KB

In [20]:
df.head(2)

   Duration        Date  Pulse  Maxpulse  Calories
0        60  01-08-2022  110.0       130     409.1
1        60  02-08-2022  117.0       145     479.0

In [22]:
import datetime
now = datetime.datetime.now()
date_time = now.strftime("%d-%m-%Y")
print("date and time:",date_time)

date and time: 03-09-2022

In [23]:
df.at[27,'Date'] = date_time
df

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
7        450  08-08-2022    NaN       134     253.3
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
17        45  18-08-2022   90.0       112       NaN
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
20        60  21-08-2022  108.0       131     364.2
21        45  22-08-2022  100.0       119     282.0
22        60  23-08-2022  130.0       101     300.0
23        45  24-08-2022  105.0       132     246.0
24        60  25-08-2022  102.0       126     334.5
25        60  26-08-2022  100.0       120     250.0
26        60  27-08-2022   92.0       118     241.0
27        60  03-09-2022  103.0       132       NaN
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3
30        60  30-08-2022  102.0       129     380.3

In [ ]:
## correction in duration column

In [39]:
df.at[7,'Duration'] = 45
df.head(10)

   Duration       Date  Pulse  Maxpulse  Calories
0        60 2022-01-08  110.0       130     409.1
1        60 2022-02-08  117.0       145     479.0
2        60 2022-03-08  103.0       135     340.0
3        45 2022-04-08  109.0       175     282.4
4        45 2022-05-08  117.0       148     406.0
5        60 2022-06-08  102.0       127     300.0
6        60 2022-07-08  110.0       136     374.0
7        45 2022-08-08    NaN       134     253.3
8        30 2022-09-08  109.0       133     195.1
9        60 2022-10-08   98.0       124     269.0

In [40]:
## duplicates

In [5]:
import pandas as pd
df = pd.read_csv('data.csv')
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30     True
dtype: bool

In [6]:
df.drop_duplicates(inplace = True)

In [7]:
df

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
7        450  08-08-2022    NaN       134     253.3
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
17        45  18-08-2022   90.0       112       NaN
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
20        60  21-08-2022  108.0       131     364.2
21        45  22-08-2022  100.0       119     282.0
22        60  23-08-2022  130.0       101     300.0
23        45  24-08-2022  105.0       132     246.0
24        60  25-08-2022  102.0       126     334.5
25        60  26-08-2022  100.0       120     250.0
26        60  27-08-2022   92.0       118     241.0
27        60         NaN  103.0       132       NaN
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3

In [ ]:
# Conditional output

In [45]:
df_cal = df[ df['Calories'] >= 300 ]

In [46]:
df_cal

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
10        60  11-08-2022  103.0       147     329.3
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
16        60  17-08-2022  100.0       120     300.0
18        60  19-08-2022  103.0       123     323.0
20        60  21-08-2022  108.0       131     364.2
22        60  23-08-2022  130.0       101     300.0
24        60  25-08-2022  102.0       126     334.5
29        60  30-08-2022  102.0       129     380.3

In [24]:
# Single code to remove all errors...
import pandas as pd
df = pd.read_csv('data.csv')
##########################################

x = df["Calories"].mean().round(1)
print(x)
df["Calories"].fillna(x, inplace = True)
#
y = df["Pulse"].mean().round(1)
format(y,".1f")
print(y)
df["Pulse"].fillna(y, inplace = True)
###############################################

import datetime
now = datetime.datetime.now()
date_time = now.strftime("%d-%m-%Y")
print("date and time:",date_time)
df.at[27,'Date'] = date_time
##############################################

df.at[7,'Duration'] = 45
##############################################
df.drop_duplicates(inplace = True)
df

311.3
103.9
date and time: 03-09-2022

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
7         45  08-08-2022  103.9       134     253.3
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
17        45  18-08-2022   90.0       112     311.3
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
20        60  21-08-2022  108.0       131     364.2
21        45  22-08-2022  100.0       119     282.0
22        60  23-08-2022  130.0       101     300.0
23        45  24-08-2022  105.0       132     246.0
24        60  25-08-2022  102.0       126     334.5
25        60  26-08-2022  100.0       120     250.0
26        60  27-08-2022   92.0       118     241.0
27        60  03-09-2022  103.0       132     311.3
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3

In [11]:
df1 = df.copy()
df1

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
7         45  08-08-2022  103.9       134     253.3
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
17        45  18-08-2022   90.0       112     311.3
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
20        60  21-08-2022  108.0       131     364.2
21        45  22-08-2022  100.0       119     282.0
22        60  23-08-2022  130.0       101     300.0
23        45  24-08-2022  105.0       132     246.0
24        60  25-08-2022  102.0       126     334.5
25        60  26-08-2022  100.0       120     250.0
26        60  27-08-2022   92.0       118     241.0
27        60  29-08-2022  103.0       132     311.3
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3

In [68]:
### Grouping Data

In [12]:
dur_group = df1.groupby('Duration').groups
dur_group

{30: [8], 45: [3, 4, 7, 17, 19, 21, 23], 60: [0, 1, 2, 5, 6, 9, 10, 11, 12, 13, 14, 15, 16, 18, 20, 22, 24, 25, 26, 27, 28, 29]}

In [13]:
df1.groupby('Duration')['Duration'].count()

Duration
30     1
45     7
60    22
Name: Duration, dtype: int64