In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Single code to remove all errors...
import pandas as pd
import math
df = pd.read_csv('data.csv')
##########################################

x = df["Calories"].mean().round(1)
print(x)
df["Calories"].fillna(x, inplace = True)
#
y = df["Pulse"].mean().round(1)
format(math.ceil(y),".1f")
print(math.ceil(y))
df["Pulse"].fillna(math.ceil(y), inplace = True)
###############################################

import datetime
now = datetime.datetime.now()
date_time = now.strftime("%d-%m-%Y")
print("date and time:",date_time)
df.at[27,'Date'] = date_time
##############################################

df.at[7,'Duration'] = 45
##############################################
df.drop_duplicates(inplace = True)
df

311.3
104
date and time: 29-08-2022

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
7         45  08-08-2022  104.0       134     253.3
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
17        45  18-08-2022   90.0       112     311.3
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
20        60  21-08-2022  108.0       131     364.2
21        45  22-08-2022  100.0       119     282.0
22        60  23-08-2022  130.0       101     300.0
23        45  24-08-2022  105.0       132     246.0
24        60  25-08-2022  102.0       126     334.5
25        60  26-08-2022  100.0       120     250.0
26        60  27-08-2022   92.0       118     241.0
27        60  29-08-2022  103.0       132     311.3
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3

In [3]:
### Adding a new column

In [4]:
df['Total'] = df['Pulse'] + df['Maxpulse'] + df['Calories']
df

    Duration        Date  Pulse  Maxpulse  Calories  Total
0         60  01-08-2022  110.0       130     409.1  649.1
1         60  02-08-2022  117.0       145     479.0  741.0
2         60  03-08-2022  103.0       135     340.0  578.0
3         45  04-08-2022  109.0       175     282.4  566.4
4         45  05-08-2022  117.0       148     406.0  671.0
5         60  06-08-2022  102.0       127     300.0  529.0
6         60  07-08-2022  110.0       136     374.0  620.0
7         45  08-08-2022  104.0       134     253.3  491.3
8         30  09-08-2022  109.0       133     195.1  437.1
9         60  10-08-2022   98.0       124     269.0  491.0
10        60  11-08-2022  103.0       147     329.3  579.3
11        60  12-08-2022  100.0       120     250.7  470.7
12        60  13-08-2022  106.0       128     345.3  579.3
13        60  14-08-2022  104.0       132     379.3  615.3
14        60  15-08-2022   98.0       123     275.0  496.0
15        60  16-08-2022   98.0       120     215.2  433.2
16        60  17-08-2022  100.0       120     300.0  520.0
17        45  18-08-2022   90.0       112     311.3  513.3
18        60  19-08-2022  103.0       123     323.0  549.0
19        45  20-08-2022   97.0       125     243.0  465.0
20        60  21-08-2022  108.0       131     364.2  603.2
21        45  22-08-2022  100.0       119     282.0  501.0
22        60  23-08-2022  130.0       101     300.0  531.0
23        45  24-08-2022  105.0       132     246.0  483.0
24        60  25-08-2022  102.0       126     334.5  562.5
25        60  26-08-2022  100.0       120     250.0  470.0
26        60  27-08-2022   92.0       118     241.0  451.0
27        60  29-08-2022  103.0       132     311.3  546.3
28        60  29-08-2022  100.0       132     280.0  512.0
29        60  30-08-2022  102.0       129     380.3  611.3

In [5]:
### Revoming a column - use function drop

In [6]:
df = df.drop(['Total'], axis='columns')
df

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
7         45  08-08-2022  104.0       134     253.3
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
17        45  18-08-2022   90.0       112     311.3
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
20        60  21-08-2022  108.0       131     364.2
21        45  22-08-2022  100.0       119     282.0
22        60  23-08-2022  130.0       101     300.0
23        45  24-08-2022  105.0       132     246.0
24        60  25-08-2022  102.0       126     334.5
25        60  26-08-2022  100.0       120     250.0
26        60  27-08-2022   92.0       118     241.0
27        60  29-08-2022  103.0       132     311.3
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3

In [7]:
### Removing rows

In [8]:
df = df.drop(df.index[20:])
df

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
7         45  08-08-2022  104.0       134     253.3
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
17        45  18-08-2022   90.0       112     311.3
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  20 non-null     int64
 1   Date      20 non-null     object
 2   Pulse     20 non-null     float64
 3   Maxpulse  20 non-null     int64
 4   Calories  20 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 960.0+ bytes

### Importing from xlsx file

In [10]:
import pandas as pd
df_xlsx = pd.read_excel("data_xlsx.xlsx")
df_xlsx

   Duration        Date  Pulse  Maxpulse  Calories
0        60  21-08-2022    108       131     364.2
1        45  22-08-2022    100       119     282.0
2        60  23-08-2022    130       101     300.0
3        45  24-08-2022    105       132     246.0
4        60  25-08-2022    102       126     334.5
5        60  26-08-2022    100       120     250.0
6        60  27-08-2022     92       118     241.0
7        60  28-08-2022    103       132     311.3
8        60  29-08-2022    100       132     280.0
9        60  30-08-2022    102       129     380.3

In [11]:
df_xlsx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  10 non-null     int64
 1   Date      10 non-null     object
 2   Pulse     10 non-null     int64
 3   Maxpulse  10 non-null     int64
 4   Calories  10 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 528.0+ bytes

In [12]:
# Cancat 2 datasets - df_cat is combination of csv and xlsx file

In [13]:
df_cat = df.append(df_xlsx)
df_cat

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
7         45  08-08-2022  104.0       134     253.3
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
17        45  18-08-2022   90.0       112     311.3
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
0         60  21-08-2022  108.0       131     364.2
1         45  22-08-2022  100.0       119     282.0
2         60  23-08-2022  130.0       101     300.0
3         45  24-08-2022  105.0       132     246.0
4         60  25-08-2022  102.0       126     334.5
5         60  26-08-2022  100.0       120     250.0
6         60  27-08-2022   92.0       118     241.0
7         60  28-08-2022  103.0       132     311.3
8         60  29-08-2022  100.0       132     280.0
9         60  30-08-2022  102.0       129     380.3

In [14]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  30 non-null     int64
 1   Date      30 non-null     object
 2   Pulse     30 non-null     float64
 3   Maxpulse  30 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.4+ KB

In [15]:
# Reset the index after merging

In [16]:
df_cat = df_cat.reset_index()
df_cat

    index  Duration        Date  Pulse  Maxpulse  Calories
0       0        60  01-08-2022  110.0       130     409.1
1       1        60  02-08-2022  117.0       145     479.0
2       2        60  03-08-2022  103.0       135     340.0
3       3        45  04-08-2022  109.0       175     282.4
4       4        45  05-08-2022  117.0       148     406.0
5       5        60  06-08-2022  102.0       127     300.0
6       6        60  07-08-2022  110.0       136     374.0
7       7        45  08-08-2022  104.0       134     253.3
8       8        30  09-08-2022  109.0       133     195.1
9       9        60  10-08-2022   98.0       124     269.0
10     10        60  11-08-2022  103.0       147     329.3
11     11        60  12-08-2022  100.0       120     250.7
12     12        60  13-08-2022  106.0       128     345.3
13     13        60  14-08-2022  104.0       132     379.3
14     14        60  15-08-2022   98.0       123     275.0
15     15        60  16-08-2022   98.0       120     215.2
16     16        60  17-08-2022  100.0       120     300.0
17     17        45  18-08-2022   90.0       112     311.3
18     18        60  19-08-2022  103.0       123     323.0
19     19        45  20-08-2022   97.0       125     243.0
20      0        60  21-08-2022  108.0       131     364.2
21      1        45  22-08-2022  100.0       119     282.0
22      2        60  23-08-2022  130.0       101     300.0
23      3        45  24-08-2022  105.0       132     246.0
24      4        60  25-08-2022  102.0       126     334.5
25      5        60  26-08-2022  100.0       120     250.0
26      6        60  27-08-2022   92.0       118     241.0
27      7        60  28-08-2022  103.0       132     311.3
28      8        60  29-08-2022  100.0       132     280.0
29      9        60  30-08-2022  102.0       129     380.3

In [17]:
df_cat = df_cat.drop(['index'], axis='columns')
df_cat

    Duration        Date  Pulse  Maxpulse  Calories
0         60  01-08-2022  110.0       130     409.1
1         60  02-08-2022  117.0       145     479.0
2         60  03-08-2022  103.0       135     340.0
3         45  04-08-2022  109.0       175     282.4
4         45  05-08-2022  117.0       148     406.0
5         60  06-08-2022  102.0       127     300.0
6         60  07-08-2022  110.0       136     374.0
7         45  08-08-2022  104.0       134     253.3
8         30  09-08-2022  109.0       133     195.1
9         60  10-08-2022   98.0       124     269.0
10        60  11-08-2022  103.0       147     329.3
11        60  12-08-2022  100.0       120     250.7
12        60  13-08-2022  106.0       128     345.3
13        60  14-08-2022  104.0       132     379.3
14        60  15-08-2022   98.0       123     275.0
15        60  16-08-2022   98.0       120     215.2
16        60  17-08-2022  100.0       120     300.0
17        45  18-08-2022   90.0       112     311.3
18        60  19-08-2022  103.0       123     323.0
19        45  20-08-2022   97.0       125     243.0
20        60  21-08-2022  108.0       131     364.2
21        45  22-08-2022  100.0       119     282.0
22        60  23-08-2022  130.0       101     300.0
23        45  24-08-2022  105.0       132     246.0
24        60  25-08-2022  102.0       126     334.5
25        60  26-08-2022  100.0       120     250.0
26        60  27-08-2022   92.0       118     241.0
27        60  28-08-2022  103.0       132     311.3
28        60  29-08-2022  100.0       132     280.0
29        60  30-08-2022  102.0       129     380.3

In [18]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  30 non-null     int64
 1   Date      30 non-null     object
 2   Pulse     30 non-null     float64
 3   Maxpulse  30 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.3+ KB

### Importing from json file

In [19]:
import json
f_obj = open('data.json', 'r')

# returns JSON object as a dictionary
data = json.load(f_obj)
print("Data:", data)
print(type(data))
print()

Data: {'Duration': {'0': 60, '1': 600, '2': 60, '3': 45, '4': 45, '5': 60, '6': 60, '7': 45, '8': 30, '9': 60}, 'Date': {'0': '31-08-2022', '1': '01-09-2022', '2': '02-09-2022', '3': '03-09-2022', '4': '04-09-2022', '5': '05-09-2022', '6': '06-09-2022', '7': '07-09-2022', '8': '08-09-2022', '9': '09-09-2022'}, 'Pulse': {'0': 110, '1': 117, '2': 103, '3': 109, '4': 117, '5': 102, '6': 110, '7': 104, '8': 0, '9': 98}, 'Maxpulse': {'0': 130, '1': 145, '2': 135, '3': 175, '4': 148, '5': 127, '6': 136, '7': 134, '8': 133, '9': 124}, 'Calories': {'0': 409.1, '1': 479.0, '2': 340.0, '3': 282.4, '4': 406.0, '5': 300.5, '6': 374.0, '7': 253.3, '8': 0, '9': 269.0}}
<class 'dict'>

In [20]:
import pandas as pd
df_json = pd.DataFrame(data)
df_json

   Duration        Date  Pulse  Maxpulse  Calories
0        60  31-08-2022    110       130     409.1
1       600  01-09-2022    117       145     479.0
2        60  02-09-2022    103       135     340.0
3        45  03-09-2022    109       175     282.4
4        45  04-09-2022    117       148     406.0
5        60  05-09-2022    102       127     300.5
6        60  06-09-2022    110       136     374.0
7        45  07-09-2022    104       134     253.3
8        30  08-09-2022      0       133       0.0
9        60  09-09-2022     98       124     269.0

In [21]:
# import pandas as pd
# df_json = pd.read_json('data.json')
# df_json

In [22]:
df_json.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  10 non-null     int64
 1   Date      10 non-null     object
 2   Pulse     10 non-null     int64
 3   Maxpulse  10 non-null     int64
 4   Calories  10 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 480.0+ bytes

In [23]:
### Correct data

In [ ]:
# single quote in index is becasue the JSON file has index in txt format

In [25]:
df_json.loc['1']

Duration           600
Date        01-09-2022
Pulse              117
Maxpulse           145
Calories         479.0
Name: 1, dtype: object

In [26]:
df_json.loc['8']

Duration            30
Date        08-09-2022
Pulse                0
Maxpulse           133
Calories           0.0
Name: 8, dtype: object

In [27]:
y = df["Pulse"].mean().round(1)
y = format(math.ceil(y),".0f")
df_json.at['8','Pulse'] = y
df_json

   Duration        Date Pulse  Maxpulse  Calories
0        60  31-08-2022   110       130     409.1
1       600  01-09-2022   117       145     479.0
2        60  02-09-2022   103       135     340.0
3        45  03-09-2022   109       175     282.4
4        45  04-09-2022   117       148     406.0
5        60  05-09-2022   102       127     300.5
6        60  06-09-2022   110       136     374.0
7        45  07-09-2022   104       134     253.3
8        30  08-09-2022   104       133       0.0
9        60  09-09-2022    98       124     269.0

In [28]:
y = df["Calories"].mean().round(1)
y = format(math.ceil(y),".1f")
df_json.at['8','Calories'] = y
df_json

   Duration        Date Pulse  Maxpulse Calories
0        60  31-08-2022   110       130    409.1
1       600  01-09-2022   117       145    479.0
2        60  02-09-2022   103       135    340.0
3        45  03-09-2022   109       175    282.4
4        45  04-09-2022   117       148    406.0
5        60  05-09-2022   102       127    300.5
6        60  06-09-2022   110       136    374.0
7        45  07-09-2022   104       134    253.3
8        30  08-09-2022   104       133    314.0
9        60  09-09-2022    98       124    269.0

In [29]:
df_json.at['1','Duration'] = 60

In [30]:
df_json

   Duration        Date Pulse  Maxpulse Calories
0        60  31-08-2022   110       130    409.1
1        60  01-09-2022   117       145    479.0
2        60  02-09-2022   103       135    340.0
3        45  03-09-2022   109       175    282.4
4        45  04-09-2022   117       148    406.0
5        60  05-09-2022   102       127    300.5
6        60  06-09-2022   110       136    374.0
7        45  07-09-2022   104       134    253.3
8        30  08-09-2022   104       133    314.0
9        60  09-09-2022    98       124    269.0

In [ ]:
### Now merge all formats are same

In [31]:
dump = df_cat.append(df_json)
dump = dump.reset_index()
dump = dump.drop(['index'], axis='columns')
dump

    Duration        Date  Pulse  Maxpulse Calories
0         60  01-08-2022  110.0       130    409.1
1         60  02-08-2022  117.0       145    479.0
2         60  03-08-2022  103.0       135    340.0
3         45  04-08-2022  109.0       175    282.4
4         45  05-08-2022  117.0       148    406.0
5         60  06-08-2022  102.0       127    300.0
6         60  07-08-2022  110.0       136    374.0
7         45  08-08-2022  104.0       134    253.3
8         30  09-08-2022  109.0       133    195.1
9         60  10-08-2022   98.0       124    269.0
10        60  11-08-2022  103.0       147    329.3
11        60  12-08-2022  100.0       120    250.7
12        60  13-08-2022  106.0       128    345.3
13        60  14-08-2022  104.0       132    379.3
14        60  15-08-2022   98.0       123    275.0
15        60  16-08-2022   98.0       120    215.2
16        60  17-08-2022  100.0       120    300.0
17        45  18-08-2022   90.0       112    311.3
18        60  19-08-2022  103.0       123    323.0
19        45  20-08-2022   97.0       125    243.0
20        60  21-08-2022  108.0       131    364.2
21        45  22-08-2022  100.0       119    282.0
22        60  23-08-2022  130.0       101    300.0
23        45  24-08-2022  105.0       132    246.0
24        60  25-08-2022  102.0       126    334.5
25        60  26-08-2022  100.0       120    250.0
26        60  27-08-2022   92.0       118    241.0
27        60  28-08-2022  103.0       132    311.3
28        60  29-08-2022  100.0       132    280.0
29        60  30-08-2022  102.0       129    380.3
30        60  31-08-2022    110       130    409.1
31        60  01-09-2022    117       145    479.0
32        60  02-09-2022    103       135    340.0
33        45  03-09-2022    109       175    282.4
34        45  04-09-2022    117       148    406.0
35        60  05-09-2022    102       127    300.5
36        60  06-09-2022    110       136    374.0
37        45  07-09-2022    104       134    253.3
38        30  08-09-2022    104       133    314.0
39        60  09-09-2022     98       124    269.0

In [32]:
dump.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  40 non-null     int64
 1   Date      40 non-null     object
 2   Pulse     40 non-null     object
 3   Maxpulse  40 non-null     int64
 4   Calories  40 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.7+ KB

In [ ]:
### write to csv / excel / json file

In [34]:
dump.to_csv('dump_csv.csv')
dump.to_excel('dump_excel.xlsx')
dump.to_json('dump_json.json')

In [3]:
str = '0000000023564'
str1 = ''
for x in str:
    if x == '0':
        continue
    else:
        str1 = str1+ x
str1

'23564'

In [5]:
str = '0000000023564'
str1 = int(str)
print(str1)
print(type(str1))

23564
<class 'int'>

In [7]:
str = -10
str1 = abs(str)
print(str1)
print(type(str1))

10
<class 'int'>